{% include "header.html" %}
  <title>CUSTOMER PAGE</title>
<style>
    body {font-family:Cursive; margin:0;  padding:0;  background-color:#a6e0e9;}
    .container {max-width:800px;  margin:0 auto;  padding:40px;  text-align:center;}
    h1 {font-size:36px;  color:#333;  margin-bottom:20px;}
    p {font-size:18px;  color:#555;  margin-bottom:20px;}
    .button {display:inline-block;  padding:12px 24px;  font-size:18px;  font-weight:bold;  text-transform:uppercase;  background-color:Green;  color:#fff;  text-decoration:none;  border-color:blue;  border-radius:10px;  transition:background-color 0.8s ease;}
    .button:hover {background-color:#00b35d;}
</style>
  <div class="container">
    <h1>Welcome to our Insurance Management System</h1>
    <p>Your safety, our priority</p>
    <hr>
    <p>For more information login here👇</p>
    <p><a class="button" href="customersignup">Create Your Account</a> 
       <a class="button" href="customerlogin">Login</a><br><br><br><br><br><br><br>
       <a class="button" href="/">Home</a>
    </p>
  </div>