{% include "header.html" %}
{% load static %}

        <title>HOME PAGE</title>
        <style type="text/css">
          body {background: url("/static/image/homepage2.jpg");  background-size:50% auto;  background-repeat:no-repeat;  background-position:center 200px;  margin:0;}
          .content {margin-top:10cm;  padding:50px;  text-align:center;  font-size:30px;  font-family:"Forte";  color:hsl(0, 100%, 25%);}
        </style>
      <div class="content">
          <h1>"Protecting what matters most, because your safety is our priority"</h1>
      </div>