{% include "header.html" %}
<title>ABOUT PAGE</title>
<style>
    body {margin: 0; padding: 0; font-family: cursive; background-color: #a6e0e9;}
    .jumbotron {margin-top: 0px; padding: 30px 80px; text-align: center; font-size: 30px;}
    .content {display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 40vh;}
    .lead-text {padding: 70px 40px; text-align: center;}
    .visit-once {font-size: 28px; margin: 5px 0;}
    .Home-btn {display: inline-block; padding: 26px 22px; font-size: 18px; text-align: center; background-color: green; color: #fff; border-radius: 10px; text-decoration: none;}
    .Home-btn:hover {background-color:#0B87A6;}
    .one-line {white-space: nowrap; overflow: hidden; text-overflow:square;}
</style>
<div class="jumbotron">
    <h2 class="alert alert-success">About!</h2>
</div>
<div class="content">
    <div class="lead-text">
        <h2 class="lead one-line">Creating a haven of safety for you and your loved ones.</h2><hr>
        <h1 class="visit-once">Visit once</h1>
    </div>
    <a class="Home-btn" href="/">Home!</a>
</div>