{% extends 'adminbase.html' %}
{% block content %}
{%load static%}
  <style>
    a:link {text-decoration:none;}
    body {
      font-family:cursive;
      background-color:#a6e0e9;
    }
    h6 {text-align:center;   color:black;}
    .container {
      margin:10px;  
      margin-top:-150px;
      margin-left:400px;}
    .panel{
      margin-bottom:20px;
      max-width:80%;
      overflow: auto;
    }
    .panel-heading {
      color: white;
      padding: 10px;
    }
    .panel-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size:40px;
      text-align: center;
    }
    .table {
      width:100%;
      max-width:100%;
      margin-bottom: 20px;
      border: 1px solid blue;
      
    }
    .table thead {background-color:Grey;}
    .table th,
    .table td {
      padding:10px;
      line-height:1;
      font-size:20px;
      vertical-align: top;
      border-top: 1px solid black;
    }
    .table th {font-weight:bold;}
    td:hover {background-color:orange;}
  </style>
  <div class="container">
    <div class="panel">
      <div class="panel-heading">
        <h6 class="panel-title">View Category</h6><hr>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Serial No.</th>
            <th>Category Name</th>
            <th>Creation Date</th>
          </tr>
        </thead>
        {% for t in categories %}
        <tr style="background-color:#FFF;">
          <td>{{ forloop.counter }}</td>
          <td>{{ t.category_name }}</td>
          <td>{{ t.creation_date }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <br><br><br><br><br><br>
{% endblock content %}