{% include "header.html" %}
<style media="screen">
  body {
    background-color:#a6e0e9;
    margin:0;
    padding:0;
  }
    .jumbotron {
        margin-bottom: 0px;
        font-size: 24px;
    }
    .jumbotron h1 {
        text-align: center;
        font-size: 36px;
    }
    .jumbotron p {
        font-size:25px;
    }
    .lead{
      text-align:center;
    }
    .Home-btn {display: inline-block; padding: 26px 22px; font-size: 18px; text-align: center; background-color: green; color: #fff; border-radius: 10px; text-decoration: none;}
    .Home-btn:hover {background-color:#0B87A6;}
</style>
<br><br>
<div class="jumbotron">
    <h1 class="display-4">Your message has been sent successfully!</h1><br><br>
    <p class="lead">We will respond to your suggestions soon.</p><br><br><hr><br><br>
    <p class="lead">Check out other features of our website!</p>
    <p class="lead"><br><br><br><br>
        <a class="Home-btn" href="/" role="button">HOME</a>
    </p>
</div>
