<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <style type="text/css">
    .navbar {background-color:#b2b2b2;  margin-bottom:0;}
    .navbar-brand {font-size:30px;  font-family:cursive;  color:#000000;  text-decoration:none;  display:flex;  justify-content:center;  align-items:flex-start;}
    .navbar-nav {display:flex;  justify-content:space-between;  align-items:center;  margin-left:auto;  margin-right:auto;   width:80%;}
    .nav-item {color:#ffffff;  margin-left:9px;  text-decoration:none;}
    .nav-item a {text-decoration: none;}
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">Insurance-Management-System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <h1><li class="nav-item"><a class="nav-link" href="/customer/customer">Customer</a></li></h1>
        <h1><li class="nav-item"><a class="nav-link" href="/adminlogin">Admin</a></li></h1>
      </ul>
      <ul class="navbar-nav">
        <h1><li class="nav-item"><a class="nav-link" href="/about">About</a></li></h1>
        <h1><li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li></h1>
      </ul>
    </div>
  </nav>
</body>
</html>