{% extends 'adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
  <style media="screen">
    input[type=text], select,input[type=number] ,input[type=password], textarea{
    width: 100%;
    font-size:25px;
    padding:20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid blue;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    font-size:30px;
    background-color:green;
    color:black;
    padding: 14px 20px;
    margin:20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {background-color:#0B87A6;}
   label #sidebar_btn {
      z-index: 1;
      color: #fff;
      position: fixed;
      cursor: pointer;
      left: 300px;
      padding-left: 60px;
      margin-top:15px;
      font-size:10px;
      transition: 0.5s;
      transition-property: color;
    }
    .my-form {font-size:25px;}
    .left_area{margin-top:8px;}
    body {
      font-family:cursive;
      background-color:#a6e0e9;  
    }
  </style>
<br><br>
<h1 style="text-align:center;">Update Category</h1><hr>
<div>
  <form  class="my-form" method="post" autocomplete="off" enctype="multipart/form-data" style="margin-left:200px;margin-right:200px;">
      {% csrf_token %}
        <label for="first_name">Category Name</label>
        {% render_field categoryForm.category_name class="form-control" %}
<br><br>
    <input type="submit" value="Update">
  </form>
</div>
<br><br><br><br><br><br><br><br>
{% endblock content %}
